*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: #f1c40f;
    background-color: #222;
}

.saira-extra-condensed-thin {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.saira-extra-condensed-extralight {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.saira-extra-condensed-light {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.saira-extra-condensed-regular {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.saira-extra-condensed-medium {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.saira-extra-condensed-semibold {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.saira-extra-condensed-bold {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.saira-extra-condensed-extrabold {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.saira-extra-condensed-black {
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
body{
    font-family:"Saira Extra Condensed", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
}

.header-content {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
    background: #282828;
    color: #fff;
}

.header-content a{
    text-decoration: none;
}

.header-content h2 {
    font-size: 2.5em;
    color: #e0e0e0;
}

.socials {
    list-style: none;
    display: flex;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.4s;
}

.socials a:hover {
    color: #f1c40f;
}

h2{
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2;
}

video{
    width: 100vw;
    height: 91.6vh;
    display: block;
    object-fit: cover;
}

.sub{
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 2.5;
    letter-spacing: 8px;
    font-size: 2.5rem;
}

.titleh1{
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
}

h1{
    font-size: 6rem;
    font-weight: 900;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container a {
    display: block;
    position: relative;
}

.image-container img {
    width: 33.3333vw;
    display: block;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-container .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.6s ease;
    font-size: 5rem;
}

.image-container a:hover .overlay-text {
    opacity: 1;
}

.animated-link {
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.animated-link.clicked {
    animation: clickEffect 0.5s;
}

@keyframes clickEffect {
    0% {
        transform: scale(1);
        filter: blur(0);
    }
    50% {
        transform: scale(1.2);
        filter: blur(3px);
    }
    100% {
        transform: scale(1);
        filter: blur(0);
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #007bff;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    display: none;
}

.animated-link.loading .loader {
    display: block;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.animated-link.loading .overlay {
    display: flex;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.containertwo{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100vw;
}

.section{
    width: 80vw;
    margin: 20px auto;
}

.section h3{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

.section p{
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 400;
}

.bold{
    font-weight: 900;
    color: #222;
    font-style: italic;
}

.tittle {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.subtwo {
    font-size: 2.5rem;
}

.conceptos {
    padding: 2rem;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

.concept h2:hover{
    background-color: #55555554;
}

.data {
    background-color: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    position: relative;
}

.data span {
    display: inline-block;
    font-size: 1.5rem;
}

.data button {
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.data button:hover {
    background-color: #ddd;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    padding-left: 1rem;
}

.content p {
    margin: 0.5rem 0;
}

.explanation {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    margin-top: 0.5rem;
}

.explanation.visible {
    max-height: 100px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.content.visible {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.data:hover {
    background-color: #ddd;
}

footer {
    background: #282828;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100vw;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.footer-content h4 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.footer-content p {
    margin: 10px 0 20px;
    font-size: 1.1em;
    color: #b8b8b8;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.4s;
}

.socials a:hover {
    color: #f1c40f;
}

.footer-bottom {
    background: #222;
    padding: 10px 0;
    color: #b8b8b8;
}

.footer-bottom p {
    font-size: 0.9em;
}

footer::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #f1c40f;
    margin: 20px auto 0;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .image-container img {
        width: 50vw;
    }
    .titleh1{
        top: 50%;
        left: 50%;
    }
    h1{
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .titleh1{
        top: 50%;
        left: 50%;
        font-size: 3rem;
        width: 300px;
        font-weight: 600;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        align-items: baseline;
    }

    .header-content h2 {
        font-size: 2rem;
    }

    .sub{
        font-size: 1.8rem;
    }

    .containerthree h3{
        font-size: 1.6rem;
    }

    .containerthree p{
        font-size: 1rem;
    }

    .footer-content h4 {
        font-size: 1.5em;
    }

    .footer-content p {
        font-size: 1em;
    }

    .socials a {
        font-size: 1.2em;
    }

    .image-container .overlay-text {
        font-size: 3rem;
    }

    .image-container img {
        width: 50vw;
    }
}

@media (max-width: 480px) {
    .titleh1 h1{
        font-size: 3rem;
        width: 300px;
        font-weight: 600;
    }

    .header-content h2 {
        font-size: 2.3rem;
    }

    .nav-links a {
        font-size: 0.9em;
    }

    .socials a {
        font-size: 1.1em;
    }

    .content{
        width: 50vw;
    }

    .content h1{
        text-align:start;
        font-size: 2.7rem;
    }

    .image-container img {
        width: 100vw;
    }

    .footer-content h4 {
        font-size: 2rem;
    }

    .footer-content p {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    .conceptos {
        padding: 1rem;
    }

    .subtwo {
        font-size: 1.5rem;
    }

    .concept h2 {
        font-size: 1.25rem;
    }

    .concept span{
        font-size: 1rem;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~MOTOCROSS~~~~~~~~~~~~~~~~~~~~~~~~ */

.content2 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.76);
    font-size: 7.5rem;
    font-weight: 900;
}